activemq-data/
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.gradle/
build/
target/
mods/
*.swp
epom
log
.DS_Store
phantomjsdriver.log
/launcher/data
/launcher/conf/extensions/mongoLauncher.json
/testsuite/src/test/test-configurations/*/conf/extensions/mongoLauncher.json
/testsuite/src/test/test-configurations/*/data
