@exo:               "Exo 2", sans-serif;
@fsize:             12px;
@fsizebig:          14px;

@inc:               30;
/* Main navigation colors */
@c_navlight:        #ebebeb;
@c_nav:             #DEDCDC;
@c_navdark:         #DEDCDC - 100;

/* Side navigation colors */
@c_snavslight:      #464646;
@c_snavlight:       #404040;
@c_snav:            #343434;
@c_snavdark:        @c_snav - @inc;
@c_snavboder:       #525252;
@c_snavfont:        #aaaaaa;

@c_mainpane:        #f5f5f5;

/* Basic color palette */
@c_white:           #fff;

@c_graylight:       @c_gray + @inc;
@c_gray:            #666;
@c_graydark:        @c_gray - @inc;

@c_greenlight:      @c_green + @inc;
@c_green:           #63b474;
@c_greendark:       @c_green - @inc;

@c_greenlight:			#c1e1c7;
@c_greenxlight: 		#e0f0e3;

/* Border colors */
@c_border:          @c_gray + 100;

/*
***********************************
          Basic elements
***********************************
*/

html {
  body {
    line-height: 1.909em;
    font-family: @exo;
    color: @c_graydark;
  }
}

/* 100% height hack TODO - think of something better */
html, body,
#lo-content-row, .lo-sidebar,
.lo-main-pane, .lo-main-pane > .row, .lo-content-area, .lo-info-area, .lo-info-pane
{
  height: 100%;
}

/* Basic elements */
h1, h2, h3, h4, h5, h6 {
  font-family: @exo;

  span {
    color: @c_graylight;
  }
}

a, p {
  font-size: @fsizebig;
}

a {
  color: @c_green;

  &:hover, &:focus {
    color: @c_greendark;
  }

  &:focus {
    outline: 0 none;
  }
}

p {
  color: @c_graylight;
  margin: 0;
  line-height: 1.5em;
}

.clickable {
  cursor: pointer;
}

.opacity20 {
  opacity: 0.2;
}

/* Apply to make color slightly lighter */
.lo-emph {
  color: @c_graylight;
}

/*
***********************************
    LiveOak specific elements
***********************************
*/

/* Information from the top of the main content pane */
.lo-page-info {
  margin-bottom: 2em;

  p {
    color: @c_gray;
    display: inline-block;
  }

  button {
    margin-top: -.5em;
  }
}

/* Top Menu */
.navbar-pf {
  background-color: @c_green;
  border: none;

  .navbar-header {
    border: none;
  }

  .navbar-utility {
    padding-right: 15px;

    a.lo-user {
      border: none;
      color: @c_white !important;
      font-size: @fsizebig;
      line-height: 22px;

      &:hover {
        background-color: @c_greendark;
      }
    }
  }

  .navbar-primary {
    background-color: @c_navlight;
    background-image: none;
    min-height: 40px;
    margin-bottom: 0;
    border: solid @c_border;
    border-width: 1px 0;

    > li.dropdown.context {
      background: @c_nav;

      a, a:hover {
        border: none;
        background: none;
        color: @c_navdark;
        text-align: center;
      }
    }
  }

  .navbar-brand {
    margin: 0;
    padding: 0 20px;

    h1 {
      font-size: 18px;
      margin: 0;
      line-height: 36px;
      color: @c_white;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* Side menu (1st column) */
.lo-sidebar {
  background: @c_snav;
  padding: 0;

  .dropdown {
    margin-top: 10px;

    .dropdown-toggle {
      display: block;
      font-size: 13px;
      line-height: 1em;
      font-weight: bold;
      padding: 10px 10px 12px 20px;
      color: @c_snavfont;
      background-color: @c_snavlight;
      border-color: @c_snavboder;
      border-style: solid;
      border-top-width: 1px;
      border-bottom-width: 1px;
      text-align: center;

      &:hover, &:focus, &:active {
        background-color: @c_snavslight;
        text-decoration: none;
      }

      .caret {
        float: right;
        margin-top: 3px;
      }
    }

    .dropdown-menu {
      margin-top: 1px;
      width: 100%;
      text-align: center;
    }
  }

  .navbar-vertical {
    border: none;

    li {
      text-align: center;
      margin-top: 36px;

      &:first-child {
        margin-top: 32px;
      }

      a {
        font-size: 14px;
        color: @c_snavfont;
        font-weight: bold;

        &:hover, &:focus {
          color: @c_white;
          text-decoration: none;
        }

        .fa {
          display: block;
        }
      }

      &.active {
        background: url(../css/img/sidebar-active.svg) no-repeat right 14px;

        a {
          color: @c_white;
          background-color: transparent;
          border: none;

          &:after {
            display: none;
          }
        }
      }
    }
  }
}

/* The main area (2rd column) */
.lo-main-pane {
  padding: 0;
  background: @c_mainpane;

  > .row > div, .lo-content-area {
    padding: 0 3em;
  }

  .lo-content-area {
    border-right: 1px solid @c_border;

    > h2 {
      margin-bottom: 1em;
    }
  }
}

/* Panel */
.lo-panel {
  &.panel-default {
    border: none;

    .panel-heading {
      background: #fff;
      border-bottom: 1px solid @c_mainpane;

      .panel-title {
        display: inline-block;
        color: @c_graydark;
        font-size: 2.1em;
        font-weight: 500;
      }
    }
  }

  .panel-body {
    padding: 36px 30px 32px;
  }
}

/* Panel entity */
[class*="lo-panel-"] {
  .dropdown {
    .dropdown-toggle {
      > i {
        font-size: 1.5em;
      }

      > b {
        display: none;
      }
    }

    .dropdown-menu{
      left: auto;
      right: 0;
      min-width: inherit;
    }
  }

  &.panel-default .panel-heading {
    border-bottom: none;

    .panel-title {
      color: @c_green;
    }
  }

  .panel-heading, .panel-body {
    padding : 1em;
  }

  .panel-body {
    padding-top: 0;

    .lo-app-opts {
      margin-bottom: 0;

      li {
        display: inline-block;
        margin-right: 2em;
        font-size: 1.2em;

        a {
          color: @c_graydark + 30;

          i {
            font-size: 1.25em;
            margin-right: 0.25em;
          }

          &:hover {
            color: @c_graydark;
            text-decoration: none;
          }

        }
      }
    }
  }
}

/* Panel App */
.lo-panel-app {

}

/* Panel Storage */
.lo-panel-storage {
  .dropdown {
    .dropdown-toggle {
      > i {
        color: @c_gray;
      }
    }
  }
}

/* Panel Dashboard */
.lo-panel.lo-dashboard .panel-body {
  .lo-measure-box {
    width: 33.333333%;
    font-size: 0.6em;
    margin-top: 30px;
    display: table;

    > i {
      padding-right: 25px;
      display: table-cell;
      font-size: 10.54545454545455em;
      text-align: right;
      vertical-align: middle;
    }

    > div {
      text-align: left;

      em {
        font-size: 11.63636363636364em;
        font-weight: 300;
        line-height: 0.6em;
      }

      .measure {
        font-size: 2.5em;
      }

      .text {
        font-size: 13px;
        color: @c_graylight;
        padding-left: 3px;
        display: block;
      }
    }

    &.api {
      color: #69a8cd;
    }

    &.users {
      color: #e9b356;
    }

    &.push {
      color: #e39090;
    }

    &.storage {
      color: #6ab1ad;
    }

    &.highlight {
      width: 100%;
      margin-top: 0;
      font-size: 1em;
      float: none;

      .text {
        font-size: 16px;
        padding-left: 5px;
      }
    }
  }
}

/* Panel Collections */

.collections {

  .lo-main-pane {
    padding: 0 30px 30px;
  }

  .lo-page-info .btn-icon {
    margin-bottom: 10px;
    margin-left: 12px;

    + span .btn-icon {
      margin-left: 8px;
    }
  }

  hr {
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    border-color: #ddd;
  }

  form {
    clear: both;
  }
}

/* The info area (3rd column) */
.lo-info-pane {
  font-size: @fsize;
  background: @c_white;

  a {
    font-size: @fsize;
  }

  h3 {
    margin-top: 30px;
    margin-bottom: 22px;
  }

  h4 {
    color: @c_green;
    font-weight: 600;
  }

  section  {
    margin-bottom: 2.5em;

    > div {
      /*margin-bottom: 1em;*/
      margin-top: 8px;
      font-size: @fsize;

      &:first-child {
        margin-top: 0;
      }

      .lo-label {
        color: @c_graylight;
        font-weight: normal;
        padding: 0;
        display: block;
        text-align: left;
      }

      .lo-field {
        display: inline-block;
        margin-top: 2px;
      }

      .field + button {
        padding-left: 5px;
      }

      .circle {
        border-radius: 50%;
        width: 7px;
        height: 7px;
        background-color: @c_green;
        display: inline-block;
      }

      > a {
        display: inline-block;
        margin-top: 6px;
      }

      ul {
        margin-top: 2px;
        margin-bottom: 0;
      }
    }

    &.lo-tutorials {
      i {
        float: left;
      }

      p, a {
        display:block;
        font-size: @fsizebig;
        padding-left: 3.5em;
      }
    }
  }
}

/* Tutorials section (Under the Dashboard Panel) */
.lo-section {
  i {
    float: left;
    margin-right: 15px;
    color: @c_graylight;
  }
}

/* Bevel-less button with an icon */
button.lo-icon-button {
  padding: 0;
  background-image: 0;
  border: none;
  background-color: transparent;
  line-height: 1em;

  span {
    text-indent: -999999px;
    display: inline-block;
  }

  i {
    color: @c_green;
  }

  &:hover i {
    color: @c_greendark;
  }

  &:active i {
    color: @c_graydark;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
}

/* LO form specific */
.lo-form-horizontal {
  fieldset {
    margin-bottom: 2em;
  }

  .control-label {
    text-align: right;
    padding-right: 0;
    color: @c_graylight;

    > span {
      margin-left: .5em;
      color: red;
    }
  }

  .form-group > div {
    padding-left: .5em;
  }

  .lo-db-instances {
    text-align: center;

    [class*="lo-db-"] {
      text-indent: -9999em;
      background: @c_white;
      background-position: center;
      background-repeat: no-repeat;
      border:1px solid @c_mainpane - 30;
      display:inline-block;
      width: 170px;
      height: 100px;
      border-radius:10px;
      margin: 1em;
      cursor: pointer;

      &:hover {
        border:1px solid @c_green;
      }

      &.active{
        border:3px solid @c_green;
      }
    }

    .lo-db-mongo {
      background-image: url("img/db/mongo.png");

      &.active {
        background-image: url("img/db/mongo_a.png");
      }
    }

    .lo-db-mysql {
      background-image: url("img/db/mysql.png");

      &.active {
        background-image: url("img/db/mysql_a.png");
      }
    }

    .lo-db-plsql {
      background-image: url("img/db/plsql.png");

      &.active {
        background-image: url("img/db/plsql_a.png");
      }
    }
  }
}

/* Collapsible forms */
legend {
  border-width: 1px 0 0 0;
  border-color: @c_border;
  border-style: solid;
  padding-top: .5em;

  span {
    font-weight: 600;
    color: @c_graylight;
    cursor: pointer;
  }

  &:before{
    content: "";
    color: @c_graylight;
    display: inline-block;
    font-family: "FontAwesome";
    font-weight: normal;
    margin-right: .5em;
  }

  &.collapsed:before{
    content: "";
  }
}

/* Selectpicker */
.select-lg .btn {
  border-radius: 1px;
  font-size: 13px;
  line-height: 1.33;
  padding: 6px 10px;
}

.btn-icon {
  color: #666;
  font-size: 16px;
  padding: 0;
  margin: 0;
  line-height: 16px;

  span {
    text-indent: -99999px;
    display: inline-block;
  }

  &:hover, &:focus {
    color: @c_greendark;
    text-decoration: none;
  }
}

.tooltip-inner {
  font-size: 11.5px;
}

.search-comp {
  display: inline-block;
  position: relative;
  font-weight: normal;

  input {
    padding-right: 25px;
  }

  .btn-icon {
    font-size: 14px;
    line-height: 16px;
    padding-right: 4px;
    position: absolute;
    right: 0;
    top: 1px;
  }
}

/* Table */

.table {
  font-size: 12px;

  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th {
    font-family: @exo;
  }

  &-hover > tbody > tr:hover > td,
  &-hover > tbody > tr:hover > th {
    background-color: @c_greenxlight;
    border-bottom-color: @c_greenlight;
  }

  &-striped > tbody > tr:nth-child(2n+1) > td,
  &-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #fff;
  }

  th.table-actions {
    line-height: 1em;
    padding-top: 5px;
    padding-bottom: 5px;

    .search-comp {
      float: left;
      margin-right: 15px;
    }

    .advanced-search {
      display: inline-block;
    }

    .dropdown {
      display: inline-block;
    }
  }

  thead {

    th.hasDropdown {

      .dropdown {
        float: right;
        line-height: 17px;
        visibility: hidden;

        &.open {
          visibility: visible;
        }
      }

      &:hover .dropdown {
        visibility: visible;
      }

      .btn-icon i {
        font-size: 14px;
      }
    }

    th.actions {
      visibility: hidden;
    }
  }

  .actions {
    border-left: none;
  }

  .before-actions {
    border-right: none;
  }

  td.actions {
    text-align: right;

    .btn {
      visibility: hidden;
    }
  }

  tr:hover td.actions .btn {
    visibility: visible;
  }
}

/* Advanced search box */

.advanced-search {
  position: relative;

  > a {
    font-size: 12px;
    font-weight: normal;
    line-height: 26px;
  }

  .popover {
    display: none;
    width: 400px;
    max-width: 400px;
    padding: 15px;
    position: absolute;
    top: 28px;
    left: -156px;

    &.fade.in {
      display: block;
    }
  }

  .inline-items {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 15px;
    }

    .inline {
      display: inline-block;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]) {
    width: 100px;
    margin-bottom: 4px;
  }

  input {
    width: calc(~"100% - 131px");
  }

  .btn-icon {
    margin-bottom: 5px;
  }
}

/*
***********************************
   Restyling basic PFly elements
***********************************
*/

/* Button group in dashboard panel header */
.lo-dashboard .btn-group {
  .btn {
    font-size: 12px;
    padding: 6px 15px 6px;
    line-height: 12px;
    box-shadow: none;
  }

  .btn-primary {
    background-color: @c_green;
    border-color: #619e6e;
    color: @c_white;
  }

  .btn-default {
    background-color: @c_white;
    background-image: none;
    border-color: #ddd;
    color: #777;
    font-weight: normal;
  }

  .btn-default:hover,
  .btn-default:focus,
  .btn-default:active,
  .btn-default.active,
  .open .dropdown-toggle.btn-default {
    background-color: #f3f3f3;
    border-color: #ccc;
    color: #555;
  }

  .btn-default:active,
  .btn-default.active {
    font-weight: bold;
    background-image: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15) inset;
    border-color: #ccc;
  }

  .btn-default:active {
    font-weight: normal;
  }
}

/* Buttons */
.btn {
  margin-left: .5em;
}

.btn-primary
{
  background-color: @c_green;
  border-color: @c_greendark;
  background-image: linear-gradient(to bottom, @c_green 0%, @c_green 100%);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open
.dropdown-toggle.btn-primary
{
  background-color: @c_greendark;
  border-color: @c_greendark ;
  background-image: linear-gradient(to bottom, @c_green - 5 0%, @c_green + 5 100%);
}

/* Breadcrumb */
.breadcrumb {
  margin: 9px 0 8px 0;
  font-size: @fsize;

  a {
    font-size: @fsize;
  }
}

/* Dropdown */
.dropdown-menu {
  margin-top: 0;
  padding: 5px 0 4px;

  li > a {
    font-size: @fsize;
  }

  li + li {margin-top: 1px;}

  li.separator {
    border-top: 1px solid #E5E5E5;
    margin-top: 4px;
    padding-top: 4px;
  }

  li > a:hover {
    background-color: #e0f0e3;
    border-color: #c1e1c7;
  }

  > li.active {
    > a,> a:hover {
      background-color: @c_green !important; /* Fix in patternfly */
      color: #FFFFFF;
      border-color: @c_greendark !important; /* Fix in patternfly */
    }
  }
}

/* Forms */
.form-control{
  &:focus, &:hover {
    border-color: @c_green;
  }

  &:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 73, 0.6);
  }
}

/* Grid */
.row {
  margin-left: 0;
  margin-right: 0;
}

/* Fix for user icon in main nav */
.navbar-pf .navbar-utility {
  li.dropdown > .dropdown-toggle .pficon-user {
    position: static;
  }
  > .open > a:focus,
  > .open > a{
    background: @c_greendark;
  }
}

/* Notifications/Alerts */

.feedback-aligner {
  position: fixed;
  top: 1.5em;
  text-align: center;
  width: 100%;
  height: 0;
  z-index: 100;
}

.feedback-aligner .row {
  margin-bottom: 15px;
}

.feedback-aligner .alert {
  background-position: 1.27273em center;
  background-repeat: no-repeat;
  border-radius: 2px;
  border-width: 1px;
  color: #4D5258;
  display: inline-block;
  font-size: 1.1em;
  line-height: 1.4em;
  margin: 0;
  padding: 0.909091em 3.63636em;
  position: relative;
  text-align: left;
}
.feedback-aligner .alert.alert-success {
  background-color: #E4F1E1;
  border-color: #4B9E39;
}
.feedback-aligner .alert.alert-danger {
  background-color: #F8E7E7;
  border-color: #B91415;
}
.feedback-aligner .alert.alert-warning {
  background-color: #FEF1E9;
  border-color: #F17528;
}
.feedback-aligner .alert.alert-info {
  background-color: #E4F3FA;
  border-color: #5994B2;
}
