<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.0" name="${module-name}">

  <resourceStates>
    <resourceState-root resourcePath="${project.artifactId}.jar"/>
    <resourceState-root resourcePath="jboss-msc.jar"/>
    <resourceState-root resourcePath="jboss-modules.jar"/>
    <resourceState-root resourcePath="vertx-core.jar"/>
    <resourceState-root resourcePath="hazelcast.jar"/>
    <resourceState-root resourcePath="jgroups.jar"/>
    <resourceState-root resourcePath="jackson-annotations.jar"/>
    <resourceState-root resourcePath="jackson-core.jar"/>
    <resourceState-root resourcePath="jackson-databind.jar"/>
    <resourceState-root resourcePath="log4j.jar"/>
    <resourceState-root resourcePath="meshly-core.jar"/>
    <resourceState-root resourcePath="netty-all.jar"/>
    <resourceState-root resourcePath="slf4j-api.jar"/>
  </resourceStates>

  <dependencies>
    <module name="org.projectodd.meshly.spi"/>
    <system>
      <paths>
        <resourcePath name="javax/management"/>
      </paths>
    </system>
  </dependencies>
</module>

