<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">
    <span class="pficon pficon-close"></span>
  </button>
  <h4 class="modal-title">Delete Script</h4>
</div>
<div class="modal-body clearfix">
  <div class="form-group">
    <p class="primary-message" ng-show="script.name">Are you sure you want to delete the script "{{ script.name }}" ({{script.id}}) ?</p>
    <p class="primary-message" ng-hide="script.name">Are you sure you want to delete the script "{{ script.id }}" ?</p>
    <p>This action can't be undone.</p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button type="button" class="btn btn-danger" ng-click="scriptDelete(script);">Delete</button>
</div>