<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">
    <span class="pficon pficon-close"></span>
  </button>
  <h4 class="modal-title">Unsaved Changes</h4>
</div>
<div class="modal-body">
  <div class="form-group">
    <p class="primary-message">You have unsaved changes in this screen.</p>
    <p>Please save or revert the changes before proceeding.</p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()">Review Changes</button>
  <!--
  <button type="button" class="btn btn-danger" ng-click="discard()">Discard Changes</button>
  <button type="button" class="btn btn-primary" ng-click="save()">Save Changes</button>
  -->
</div>