<div class="row">
  <ul class="nav nav-tabs nav-tabs-pf">
    <li class="active"><a href="">General Settings</a></li>
    <li><a href="#/applications/{{curApp.id}}/application-clients">Clients</a></li>
  </ul>
  <div class="lo-content-area col-md-10 next-steps">
    <lo-breadcrumbs></lo-breadcrumbs>
    <h2 class="pull-left"><span>{{curApp.name}}</span> General Settings</h2>
    <p class="subtitle"><span class="required">*</span> Required fields</p>
    <hr>
    <form class="lo-form-horizontal clearfix">
      <fieldset>
        <div class="form-group clearfix">
          <label class="col-sm-2 control-label" for="appname">Application Name <span class="required">*</span></label>
          <div class="col-sm-4">
            <input class="form-control" type="text" id="appname" ng-model="settings.name" required readonly>
          </div>
        </div>
      </fieldset>
      <div class="pull-right form-actions">
        <button class="btn btn-default btn-lg" ng-disabled="!changed" type="button" ng-click="clear()">Clear changes</button>
        <button class="btn btn-primary btn-lg" ng-disabled="!changed" type="submit" ng-click="save()">Save</button>
      </div>
    </form>
  </div>
</div>
