<div class="row">
  <div class="lo-content-area col-md-12">
    <lo-breadcrumbs></lo-breadcrumbs>
    <h2>Example Applications</h2>

    <div class="row example-apps">
      <div class="panel col-lg-4 col-sm-6" ng-repeat="example in examples" ng-class="{clicked: example.clicked}" ng-click="example.clicked = !example.clicked">
        <div class="panel-body row">
          <div class="pull-left">
            <img alt="{{ example['icon-alt'] }}" src="/admin/console/img/example-apps/{{example.icon}}">

            <button class="btn btn-lg" type="button" onclick="event.stopPropagation();" ng-class="{installing: example.installing, 'btn-default': !example.installed, 'btn-primary': example.installed}" ng-click="example.installed ? goto(example) : install(example)" ng-disabled="example.installing">
              <span class="spinner spinner-xs spinner-inline"></span>
              <span class="text" ng-hide="example.installing || example.installed">Install</span>
              <span class="text" ng-show="example.installing">Installing...</span>
              <span class="text" ng-show="example.installed">Open</span>
            </button>

            <button class="btn btn-lg" type="button" onclick="event.stopPropagation();" ng-hide="example.installed" ng-class="{installing: example.importing, 'btn-default': !example.installed, 'btn-primary': example.installed}" ng-click="import(example)" ng-disabled="example.importing">
              <span class="spinner spinner-xs spinner-inline"></span>
              <span class="text" ng-hide="example.importing">Import</span>
              <span class="text" ng-show="example.importing">Importing...</span>
            </button>
          </div>
          <div class="pull-right">
            <span class="label label-success pull-right" style="width: auto; opacity: 0.9;" ng-show="example.installed"><i class="fa fa-check"></i> Installed</span>
            <h3>{{example.name}}</h3>
            <p>{{example.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>