<lo-navigation ng-controller="AppDropdownCtrl" data-lo-current="clients" data-lo-apps="applications" data-lo-app="curApp"></lo-navigation>

<div class="col-md-9 lo-main-pane">
  <div class="row">
    <div class="lo-content-area col-md-12">
      <lo-breadcrumbs></lo-breadcrumbs>
      <h2><span>{{curApp.name}}</span> Clients</h2>
  
      <div class="lo-page-info clearfix">
        <p ng-show="appClients"><span class="lo-emph">You have</span> <strong>{{ appClients.length }}</strong> client(s).</p>
        <div class="pull-right" ng-show="appClients">
          <a class="btn btn-primary btn-lg" href="#/applications/{{curApp.id}}/create-client">New Client</a>
        </div>
      </div>
  
      <div class="panel" ng-hide="appClients">
        <div class="panel-body text-center empty-instance">
          <i class="fa fa-globe"></i>
          <p>This application currently has no clients configured.</p>
          <a class="btn btn-primary btn-lg" href="#/applications/{{curApp.id}}/create-client">New Client</a>
        </div>
      </div>
  
      <lo-client-summary ng-repeat="client in appClients" lo-app="curApp" lo-client="client" created="createdId"></lo-client-summary>
    </div>
  </div>
</div>