<lo-navigation ng-controller="AppDropdownCtrl" data-lo-current="clients" data-lo-apps="applications" data-lo-app="curApp"></lo-navigation>

<div class="col-md-9 lo-main-pane application-client">

  <div class="row">
    <div class="lo-content-area col-md-12">
  
      <lo-breadcrumbs></lo-breadcrumbs>
      <h2 class="pull-left"><span>{{ appClient.name || 'New Client' }}</span> Configuration</h2>
      <p class="subtitle">All fields are required</p>
  
      <hr>
  
      <form class="lo-form-horizontal clearfix" name="clientsForm">
        <fieldset>
          <div class="form-group clearfix">
            <label class="col-sm-2 control-label" for="clientname" required>Client Name <span class="required">*</span></label>
            <div class="col-sm-4">
              <input class="form-control" type="text" id="clientname" ng-model="settings.name" required pf-focused="!settings.name" >
            </div>
          </div>
          <div class="form-group clearfix">
            <label class="col-sm-2 control-label" for="platform">Platform</label>
            <div class="lo-instances col-sm-offset-2">
              <label class="checkbox-inline html5" ng-class="{'active': settings.platform == 'html5'}">
                <input type="radio" name="platform" ng-model="settings.platform" value="html5"> HTML 5
              </label>
              <label class="checkbox-inline android" ng-class="{'active': settings.platform == 'android'}">
                <input type="radio" name="platform" ng-model="settings.platform" value="android"> Android
              </label>
              <label class="checkbox-inline ios" ng-class="{'active': settings.platform == 'ios'}">
                <input type="radio" name="platform" ng-model="settings.platform" value="ios"> iOS
              </label>
              <label class="checkbox-inline custom" ng-class="{'active': settings.platform == 'custom'}">
                <input type="radio" name="platform" ng-model="settings.platform" value="custom"> My Platform
              </label>
              <span data-tooltip-placement="top" data-tooltip="Add Platform">
                <button type="button" class="btn btn-link btn-icon inline add-condition" data-toggle="modal" data-target="#add-platform"><i class="fa fa-plus-circle"></i><span>Add Platform</span></button>
              </span>
            </div>
          </div>
          <div class="form-group multiple clearfix hover-menu" data-ng-show="!appClient.bearerOnly">
            <label class="col-sm-2 control-label" for="newRedirectUri">Redirect URIs</label>
            <div class="col-sm-4 row" ng-repeat="redirectUri in redirectUris">
              <div class="col-sm-12">
                <input class="form-control" type="text" name="newRedirectUri" id="newRedirectUri"
                       placeholder="New Redirect URI..." data-ng-model="redirectUri.val"
                       ng-change="changeRedirectUri(redirectUri.val)" pf-validation="checkUrl(redirectUri.val)">

                <span class="help-block">
                  <span>It is not right.</span>
                </span>

                <div class="input-group-client">
                  <button type="button" class="btn btn-link btn-icon" ng-show="!$first"
                          data-ng-click="deleteRedirectUri($index)">
                    <i class="fa fa-trash-o" data-tooltip-placement="top" data-tooltip="Remove URI"></i>
                    <span>Remove URI</span>
                  </button>

                  <button type="button" class="btn btn-link btn-icon" ng-click="addRedirectUri()"
                          ng-show="$last" ng-disabled="!redirectUri">
                    <i class="fa fa-plus-circle" data-tooltip-placement="top" data-tooltip="Add URI"></i>
                    <span>Add URI</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group multiple clearfix hover-menu">
            <label class="col-sm-2 control-label" for="newWebOrigin">Web Origins</label>
            <div class="col-sm-4 row" ng-repeat="webOrigin in webOrigins">
              <div class="col-sm-12">
                <input class="form-control" type="text" name="redirectUri" id="webOrigin"
                       placeholder="New Web Origin..." data-ng-model="webOrigins[$index].val" />

                <div class="input-group-client">
                  <button type="button" class="btn btn-link btn-icon" ng-show="!$first"
                          data-ng-click="deleteWebOrigin($index)">
                    <i class="fa fa-trash-o" data-tooltip-placement="top" data-tooltip="Remove URI"></i>
                    <span>Remove Web Origin</span>
                  </button>

                  <button type="button" class="btn btn-link btn-icon" ng-click="addWebOrigin(webOrigin)"
                          ng-show="$last" ng-disabled="!webOrigin">
                    <i class="fa fa-plus-circle" data-tooltip-placement="top" data-tooltip="Add URI"></i>
                    <span>Add Web Origin</span>
                  </button>
                </div>
              </div>
            </div>
            <!--
            <div class="col-sm-4">
              <div class="col-sm-12">
                <div  ng-class="{'input-group': newWebOrigin.length > 0}">
                  <input class="form-control" type="text" id="newWebOrigin" name="newWebOrigin" ng-model="newWebOrigin" placeholder="New Web Origin..."/>
                  <div class="input-group-btn" ng-show="newWebOrigin.length > 0">
                    <button class="btn btn-primary" data-ng-click="addWebOrigin()" >Add</button>
                  </div>
                </div>
              </div>
            </div>
            -->
          </div>
          <div class="form-group clearfix">
            <label class="col-sm-2 control-label" for="scope">Scope</label>
            <div class="col-sm-4">
              <select pf-select id="scope" ng-options="role.id as role.name for role in availableRoles" ng-model="settings.scopeMappings" ng-hide="availableRoles.length === 0" multiple>
              </select>
              <select pf-select id="scope-noroles" ng-options="role as role for role in noRoles" ng-model="noRoles" ng-show="availableRoles.length === 0" multiple disabled>
              </select>
            </div>
          </div>
        </fieldset>
        <div class="pull-right form-actions">
          <button class="btn btn-default btn-lg" ng-disabled="!changed || clientsForm.$invalid || !settings.name" type="button" ng-click="clear()">Clear changes</button>
          <button class="btn btn-primary btn-lg" ng-disabled="!changed" type="submit" ng-click="save()">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
  
<!-- Add Platform Modal -->
<div class="modal fade" id="add-platform" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="pficon pficon-close"></span>
        </button>
        <h4 class="modal-title">Add Platform</h4>
      </div>
      <form class="horizontal-form">
        <div class="modal-body">
          <fieldset>
            <div class="form-group clearfix">
              <label for="pfname" class="col-sm-3 control-label">Platform Name <span class="required">*</span></label>
              <div class="col-sm-7">
                <input type="text" class="form-control" id="pfname">
              </div>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>