<div class="row applications">

  <!-- When there are applications -->

  <div class="lo-content-area col-md-9" ng-show="applications.length > 0 || exampleApplications.length > 0">
    <h2>Applications</h2>
    <div class="lo-page-info clearfix">
      <p><span class="lo-emph">You have</span> <strong>{{applications.length + exampleApplications.length}}</strong> application(s).</p>
      <div class="pull-right" ng-show="applications.length > 0 || exampleApplications.length > 0">
        <button id="btn-create-app" class="btn btn-primary btn-lg" type="button" ng-click="modalApplicationCreate()" >New Application</button>
      </div>
    </div>
    <div class="applications-list">
      <lo-app-summary ng-repeat="app in applications" lo-app="app" created="createdId"></lo-app-summary>
    </div>

    <h3 class="collapsible panel-separator" ng-show="exampleApplications.length > 0" lo-collapse>Example Applications</h3>
    <div class="applications-list">
      <lo-app-summary ng-repeat="app in exampleApplications" lo-app="app" created="createdId"></lo-app-summary>
    </div>
  </div>
  <div class="lo-info-pane col-md-3 clearfix" ng-show="applications.length > 0 || exampleApplications.length > 0">
    <section class="lo-tutorials">
      <h3>Example Applications</h3>
      <i class="fa fa-magic fa-4x"></i>
      <p>Getting started with LiveOak? Try example applications and explore what LiveOak can do for you.</p>
      <a href="#/example-applications">Try example applications »</a>
    </section>
    <section class="lo-tutorials">
      <h3>Import Application</h3>
      <i class="fa fa-arrow-circle-o-down fa-4x"></i>
      <p>Import an existing application from the local file system or from a git URL.</p>
      <a href="" ng-click="modalApplicationImport()" >Try importing an application »</a>
    </section>
  </div>

  <!-- When there is no application -->

  <div class="lo-content-area col-md-12" ng-hide="applications.length > 0 || exampleApplications.length > 0">
    <h2>Applications</h2>
    <div class="panel" >
      <div class="panel-body text-center empty-instance">
        <i class="fa fa-rocket"></i>
        <p>LiveOak currently has no applications installed.</p>
        <button id="btn-create-app-noapps" class="btn btn-primary btn-lg" type="button" ng-click="modalApplicationCreate()">New Application</button>
        <span class="or-divider">or</span>
        <a class="btn btn-default btn-lg" href="#/example-applications">Install Example Application</a>
        <a href="" ng-click="modalApplicationImport()" class="btn btn-default btn-lg">Import Application</a>
      </div>
    </div>
  </div>
  
</div>