<div class="col-md-9 lo-main-pane">
  <div class="row">
    <div class="lo-content-area col-md-12">
      <lo-breadcrumbs></lo-breadcrumbs>
      <h2><span>{{curApp.name}}</span> Business Logic</h2>
  
      <div class="lo-page-info clearfix" ng-show="scripts.members">
        <p class="list-info">These are the currently installed Resource Triggered Business Logic Scripts.</p>
        <p><span class="lo-emph">You have</span> <strong>{{scripts.members.length}}</strong> script<span ng-show="scripts.members.length > 1">s</span>.</p>
      </div>

      <div class="panel" ng-hide="scripts.members">
        <div class="panel-body text-center empty-instance">
          <i class="fa fa-code"></i>
          <p>This application currently has no business logic scripts.</p>
        </div>
      </div>

      <div class="panel" ng-show="scripts.members" ng-repeat="script in scripts.members">
        <div class="panel-heading">
          <h2 class="panel-title">{{script.name}} <span>({{script.id}})</span></h2>
          <span class="label label-success" ng-show="script.enabled">Enabled</span>
          <span class="label label-default" ng-hide="script.enabled">Disabled</span>
        </div>
        <div class="panel-body">
          <p class="panel-description">{{script.description}}</p>
          <ul class="lo-app-opts">
            <li><i class="fa fa-link" tooltip="Target"></i>{{script['target-path']}}</li>
            <li><i class="fa fa-level-up" tooltip="Priority"></i>{{script.priority}}</li>
            <li><i class="fa fa-hand-o-right" tooltip="Triggers"></i><span ng-show="script.provides">{{script.provides}}</span><span ng-hide="script.provides">None</span></li>
            <li><a href="" class="link-color" ng-click="showScript(script)" ng-hide="script.show"><i class="fa fa-code" tooltip="Script"></i>Show script</a><a href="" class="link-color" ng-click="showScript(script)" ng-show="script.show"><i class="fa fa-code" tooltip="Script"></i>Hide script</a> <span ng-show="script.size">({{script.size}}kb)</span></li>
          </ul>
          <pre ng-show="script.show && script.src">{{script.src}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>