<div class="col-md-10 lo-main-pane app-dashboard">
  <div class="row">
    <div class="lo-content-area col-md-12 col-lg-10">
      <lo-breadcrumbs></lo-breadcrumbs>

      <div class="panel lo-dashboard">
        <div class="panel-heading clearfix">
          <h2 class="panel-title"><span>{{ curApp.name }}</span> Dashboard</h2>

          <div class="btn-group">
            <button ng-repeat="period in dataPeriods" class="btn btn-default" type="button" ng-click="rangeSelected(period)" ng-model="$parent.range" btn-radio="period">{{period}}</button>
          </div>
        </div>

        <div class="panel-body">
          <div class="col-xs-12 lo-measure-box api highlight">
            <i class="fa fa-spinner"></i>
            <div>
              <em>{{displayData[range].requests.value}}</em>
              <span class="text">{{displayData[range].requests.unit}} / {{displayData[range].requests.per}}</span>
            </div>
          </div>
          <div class="col-xs-4 lo-measure-box users">
            <i class="fa fa-users"></i>
            <div>
              <em>{{displayData[range].users.value}}</em>
              <span class="text">{{displayData[range].users.unit}} / {{displayData[range].users.per}}</span>
            </div>
          </div>
          <div class="col-xs-4 lo-measure-box push">
            <i class="fa fa-mobile"></i>
            <div>
              <em>{{displayData[range].notifications.value}}</em>
              <span class="text">{{displayData[range].notifications.unit}} / {{displayData[range].notifications.per}}</span>
            </div>
          </div>
          <div class="col-xs-4 lo-measure-box storage">
            <i class="fa fa-cloud"></i>
            <div>
              <em>{{displayData[range].storage.value}}</em>
              <span class="text">{{displayData[range].storage.unit}} / {{displayData[range].storage.per}}</span>
            </div>
          </div>
        </div>

        <div class="panel" ng-show="logData.errors">
          <div  class="panel-heading">
            <h3>Errors</h3>
          </div>
          <ul class="panel-body">
            <li ng-repeat="event in logData.errors">[{{formatDate(event.timestamp)}}] {{event.status}} - {{event.method}} {{event.uri}}</li>
          </ul>
        </div>

        <div class="panel">
          <div class="panel-heading">
            <h3>Most popular resources</h3>
          </div>
          <ul class="panel-body">
            <li ng-repeat="item in logData.topPathsRequested | orderObjectBy:'count':false">{{item[0].segment}} - ({{item[0].count}} requests)</li>
          </ul>
        </div>


        <div class="panel panel-chart1">
          <div class="panel-heading">
            <h3>Requests</h3>
          </div>
          <div id="stackedBarChart_requests" style="height:255px">
            <!-- HINT: colors for the chart can be changed in the d3-chart.css -->
            <hawkular-chart
                    data="{{chartData[range].requests.chartData}}"
                    chart-type="{{chartData[range].requests.chartType}}"
                    chart-height="250"></hawkular-chart>
          </div>
        </div>
      </div>

      <div class="panel panel-chart1">
        <div class="panel-heading">
          <h3>Traffic in bytes</h3>
        </div>
        <div id="stackedBarChart_traffic" style="height:255px">
          <!-- HINT: colors for the chart can be changed in the d3-chart.css -->
          <hawkular-chart
                  data="{{chartData[range].bandwidth.chartData}}"
                  chart-type="{{chartData[range].bandwidth.chartType}}"
                  chart-height="250"></hawkular-chart>
        </div>
      </div>

      <div class="panel panel-chart1">
        <div class="panel-heading">
          <h3>Notifications</h3>
        </div>
        <div id="stackedBarChart_notifications" style="height:255px">
          <!-- HINT: colors for the chart can be changed in the d3-chart.css -->
          <hawkular-chart
                  data="{{chartData[range].notifications.chartData}}"
                  chart-type="{{chartData[range].notifications.chartType}}"
                  chart-height="250"></hawkular-chart>
        </div>
      </div>

      <section class="lo-tutorials">
        <h3><span>LiveOak</span> Tutorials</h3>
        <i class="fa fa-file-text-o fa-4x"></i>
        <p>Explore LiveOak Documentation and learn how to set up Security, Data and Push.</p>
        <a href="http://liveoak.io/docs/" target="_blank">How to start building your app »</a>
      </section>
    </div>
    <div class="lo-info-pane col-md-12 col-lg-2 clearfix">
      <section class="details">
        <h3><span>{{ curApp.name }}</span> Details</h3>
        <section>
          <!-- TODO Re-enable when we have status tracking
          <div>
            <span class="lo-label">App Status</span>
            <span class="lo-field"><i class="circle"></i> Running</span>
          </div>
          -->
          <a href="{{appUrl}}" class="btn btn-default" target="_blank" ng-show="curApp['html-app']"><i class="fa fa-external-link"></i>Go to Application</a>
          <!-- <a href="#" target="_blank" class="link" ng-show="curApp.example">View README</a> -->
        </section>
        <section>
          <div>
            <span class="lo-label">Storage</span>
            <ul>
              <li ng-repeat="storage in storageList"><span class="lo-field">{{storage}}</span></li>
              <li><span class="lo-field" ng-hide="storageList">No Storage Resources</span></li>
            </ul>
          </div>
        </section>
        <section>
          <div>
            <span class="lo-label">Security Realm</span>
            <span class="lo-field">{{auth.realm}}</span>
            <!-- <button class="lo-icon-button" data-toggle="tooltip" data-placement="bottom" data-original-title="Copy"><i class="fa fa-copy"></i><span>Copy</span></button> -->
          </div>
        </section>
        <section>
          <div>
            <span class="lo-label">Push Notifications</span>
            <span class="lo-field">{{pushConfig.upsURL ? pushConfig.applicationId : 'Not set up'}}</span>
          </div>
        </section>
        <section>
          <div>
            <span class="lo-label">Clients</span>
            <span class="lo-field">Not set up</span>
          </div>
        </section>
        <section>
          <div>
            <span class="lo-label">Business Logic</span>
            <span class="lo-field">Not set up</span>
          </div>
        </section>
        <section>
          <a href="{{curApp.id}}/client/liveoak.js" class="btn btn-default" target="_blank"><i class="fa fa-download"></i>Download liveOak.js</a>
        </section>
      </section>
    </div>
  </div>
</div>
