    <lo-navigation ng-controller="AppDropdownCtrl" data-lo-current="dashboard" data-lo-apps="applications" data-lo-app="curApp"></lo-navigation>

    <div class="col-md-10 lo-main-pane">
        <div class="row">
            <div class="lo-content-area col-md-10">
                <ol class="breadcrumb">
                    <li><a href="#/applications">Applications</a></li>
                    <li><a href="#/applications/{{curApp.name}}">{{ curApp.name }}</a></li>
                    <li class="active">Dashboard</li>
                </ol>

                <div class="panel panel-default lo-dashboard lo-panel">
                    <div class="panel-heading">
                        <h2 class="panel-title"><span>{{ curApp.name }}</span> Dashboard</h2>

                        <div class="btn-group pull-right">
                            <button ng-repeat="period in dataPeriods" class="btn btn-default" type="button" ng-model="$parent.range" btn-radio="period">{{period}}</button>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="col-md-12 lo-measure-box api highlight">
                            <i class="fa fa-spinner"></i>
                            <div>
                                <em>{{data[range].requests}}</em>
                                <span class="text">API requests / second</span>
                            </div>
                        </div>
                        <div class="col-md-4 lo-measure-box users">
                            <i class="fa fa-users"></i>
                            <div>
                                <em>{{data[range].users}}</em>
                                <span class="text">active users / second</span>
                            </div>
                        </div>
                        <div class="col-md-4 lo-measure-box push">
                            <i class="fa fa-mobile"></i>
                            <div>
                                <em>{{data[range].notifications}}</em>
                                <span class="text">push notifications / second</span>
                            </div>
                        </div>
                        <div class="col-md-4 lo-measure-box storage">
                            <i class="fa fa-cloud"></i>
                            <div>
                                <em>{{data[range].storage}}</em>
                                <span class="measure">GB</span>
                                <span class="text">gigabytes / second</span>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="lo-section">
                    <h3><span>LiveOak</span> Tutorials</h3>
                    <i class="fa fa-file-text-o fa-4x"></i>
                    <p>Explore LiveOak Documentation and learn how to set up Security, Data and Push.</p>
                    <a href="#">How to start building your app »</a>
                </section>
            </div>
            <div class="lo-info-pane col-md-2">
                <section class="details">
                    <h3><span>{{ curApp.name }}</span> Details</h3>
                    <section>
                        <div>
                            <span class="lo-label">App Status</span>
                            <span class="lo-field"><i class="circle"></i> Running</span>
                        </div>
                        <div>
                            <span class="lo-label">App Key</span>
                            <span class="lo-field">jieu89-eiW38oskj</span>
                            <button class="lo-icon-button" data-toggle="tooltip" data-placement="bottom" data-original-title="Copy"><i class="fa fa-copy"></i><span>Copy</span></button>
                        </div>
                        <div>
                            <span class="lo-label">App Secret</span>
                            <span class="lo-field">9iugjW39vnlz90ei9ejiDoi</span>
                            <button class="lo-icon-button" data-toggle="tooltip" data-placement="bottom" data-original-title="Copy"><i class="fa fa-copy"></i><span>Copy</span></button>
                        </div>
                        <a href="#">View <strong>Security Settings</strong> »</a>
                    </section>
                    <section>
                        <div>
                            <span class="lo-label">Storage</span>
                            <ul>
                                <li><span class="lo-field">MyFirstStorage</span></li>
                                <li><span class="lo-field">MySecondStorage</span></li>
                                <li><span class="lo-field">MyThirdStorage</span></li>
                            </ul>
                        </div>
                        <a href="#">View All <strong>Storage Resources</strong> »</a>
                    </section>
                    <section>
                        <div>
                            <span class="lo-label">Push Notifications</span>
                            <span class="lo-field">Not Set Up</span>
                        </div>
                        <a href="#">View <strong>Push Settings</strong> »</a>
                    </section>
                </section>
            </div>
        </div>
    </div>
