<div class="row">
  <div class="lo-content-area col-md-12 next-steps">
    <lo-breadcrumbs></lo-breadcrumbs>

    <h2>What you got and can do next:</h2>

    <hr/>
    
    <section class="columns">
    
      <div class="col-xs-6 col-md-4 panel first">
        <div class="panel-body text-center">
          <i class="fa fa-cloud"></i>
          <h3>Storage</h3>
          <div class="content-area" ng-repeat="storage in storageList">
            <div>
              <span class="lo-label">Storage Provider:</span>
              <span class="lo-field">{{storage.provider}}</span>
            </div>
            <div>
              <span class="lo-label">URL Path</span>
              <span class="lo-field">/{{storage.id}}</span>
            </div>
          </div>
          <p class="content-area" ng-hide="storageList.length > 0">Store your application's data in the cloud</p>          
          <a href="#/applications/{{curApp.id}}/storage/{{storageList[0].id}}/browse" ng-show="storageList.length > 0">View <strong>Storage</strong> »</a>
          <a href="#/applications/{{curApp.id}}/storage" ng-hide="storageList.length > 0">Configure <strong>Storage</strong> »</a>
        </div>
      </div>
      
      <div class="col-xs-6 col-md-4 panel">
        <div class="panel-body text-center">
          <i class="fa fa-lock"></i>
          <h3>Security</h3>
          <div class="content-area">
            <div ng-show="auth.realm">
              <span class="lo-label">Keycloak Realm:</span>
              <span class="lo-field">{{auth.realm}}</span>
            </div>
          </div>
          <p class="content-area" ng-hide="auth.realm">Manage login, SSO, users and more with Keycloak</p>
          <a href="#/applications/{{curApp.id}}/security" ng-show="auth.realm">View <strong>Security</strong> »</a>
          <a href="#/applications/{{curApp.id}}/security" ng-hide="auth.realm">Configure <strong>Security</strong> »</a>
        </div>
      </div>
      
      <div class="col-xs-6 col-md-4 panel">
        <div class="panel-body text-center">
          <i class="fa fa-mobile"></i>
          <h3>Push</h3>
          <div class="content-area" ng-show="pushConfig && pushConfig.upsURL">
            <div>
              <span class="lo-label">AeroGear UPS URL:</span>
              <span class="lo-field">{{pushConfig.upsURL}}</span>
            </div>
            <div>
              <span class="lo-label">Application ID:</span>
              <span class="lo-field">{{pushConfig.applicationId}}</span>
            </div>
            <div>
              <span class="lo-label">Master Secret:</span>
              <span class="lo-field">{{pushConfig.masterSecret}}</span>
            </div>
          </div>
          <p class="content-area" ng-hide="pushConfig && pushConfig.upsURL">Manage your push notifications with AeroGear UPS</p>
          <a href="#/applications/{{curApp.id}}/push" ng-show="pushConfig && pushConfig.upsURL">View <strong>Push</strong> »</a>
          <a href="#/applications/{{curApp.id}}/push" ng-hide="pushConfig && pushConfig.upsURL">Configure <strong>Push</strong> »</a>
        </div>
      </div>
    </section>

    <section class="lo-tutorials">
      <h3><span>LiveOak</span> Tutorials</h3>
      <i class="fa fa-file-text-o fa-4x"></i>
      <p>Explore LiveOak Documentation and learn how to set up Security, Data and Push.</p>
      <a href="#">How to start building your app »</a>
    </section>
    
  </div>
</div>
