<lo-navigation ng-controller="AppDropdownCtrl" data-lo-current="push" data-lo-apps="applications" data-lo-app="curApp"></lo-navigation>

<div class="col-md-9 lo-main-pane app-push">
    <div class="row">
        <div class="lo-content-area col-md-10">
            <lo-breadcrumbs></lo-breadcrumbs>

            <h2 class="pull-left">What you can do next:</h2>
            <hr>
            <div class="col-md-3 panel panel-default lo-panel">
                <div class="panel-body text-center empty-instance">
                    <i class="fa fa-cloud"></i>
                    <h2>Storage</h2>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 panel panel-default lo-panel">
                <div class="panel-body text-center empty-instance">
                    <i class="fa fa-lock"></i>
                    <h2>Security</h2>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 panel panel-default lo-panel">
                <div class="panel-body text-center empty-instance">
                    <i class="fa fa-mobile-phone"></i>
                    <h2>Push</h2>
                </div>
            </div>
        </div>
    </div>
</div>