<div class="row">
  <div class="lo-content-area col-md-10 next-steps">
    <lo-breadcrumbs></lo-breadcrumbs>

    <!-- <h2>Here is what you've got:</h2> -->
    <h2>What you can do next:</h2>
    
    <hr>
    
    <section class="table">
    
      <div class="table-row">
        <div class="table-cell">
          <i class="fa fa-cloud"></i>
          <h3>Storage</h3>
        </div>
        <div class="table-cell">
          <i class="fa fa-lock"></i>
          <h3>Security</h3>
        </div>
        <div class="table-cell">
          <i class="fa fa-mobile"></i>
          <h3>Push</h3>
        </div>
      </div>
      
      <div class="table-row">
        <div class="table-cell">
          <!--
<div>
            <span class="lo-label">Storage Provider:</span>
            <span class="lo-field">mongoDB</span>
          </div>
          <div>
            <span class="lo-label">URL Path:</span>
            <span class="lo-field">/storage</span>
          </div>
-->
          <p>Store your application's data in the cloud</p>
        </div>
        <div class="table-cell">
          <!--
<div>
            <span class="lo-label">Keycloak Realm:</span>
            <span class="lo-field">Applications</span>
          </div>
-->
          <p>Manage login, SSO, users and more with Keycloak</p>
        </div>
        <div class="table-cell">
          <!--
<div>
            <span class="lo-label">AeroGear UPS URL:</span>
            <span class="lo-field">www.someurl.com</span>
          </div>
          <div>
            <span class="lo-label">Application ID:</span>
            <span class="lo-field">someid</span>
          </div>
          <div>
            <span class="lo-label">Master Secret:</span>
            <span class="lo-field">somemastersecret</span>
          </div>
-->
          <p>Manage your push notifications with AeroGear UPS</p>
        </div>
      </div>
      
      <div class="table-row">
        <div class="table-cell">
          <!-- <a href="#">View <strong>Storage</strong> »</a> -->
          <a href="#">Configure <strong>Storage</strong> »</a>
        </div>
        <div class="table-cell">
          <!-- <a href="#">View <strong>Security</strong> »</a> -->
          <a href="#">Configure <strong>Security</strong> »</a>
        </div>
        <div class="table-cell">
          <!-- <a href="#">View <strong>Push</strong> »</a> -->
          <a href="#">Configure <strong>Push</strong> »</a>
        </div>
      </div>
    </section>
    
    <section class="lo-tutorials">
      <h3><span>LiveOak</span> Tutorials</h3>
      <i class="fa fa-file-text-o fa-4x"></i>
      <p>Explore LiveOak Documentation and learn how to set up Security, Data and Push.</p>
      <a href="#">How to start building your app »</a>
    </section>
    
<!--
    <div class="table">
      <div class="col-md-4 panel first">
        <div class="panel-body text-center">
          <i class="fa fa-cloud"></i>
          <h3>Storage</h3>
          <div>
            <span class="lo-label">Storage Provider:</span>
            <span class="lo-field">mongoDB</span>
          </div>
          <div>
            <span class="lo-label">URL Path</span>
            <span class="lo-field">/storage</span>
          </div>
          <a href="#">View <strong>Storage</strong> »</a>
        </div>
      </div>
      <div class="col-md-4 panel">
        <div class="panel-body text-center">
          <i class="fa fa-lock"></i>
          <h3>Security</h3>
          <div>
            <span class="lo-label">Keycloak Realm:</span>
            <span class="lo-field">Applications</span>
          </div>
          <a href="#">View <strong>Security</strong> »</a>
        </div>
      </div>
      <div class="col-md-4 panel">
        <div class="panel-body text-center">
          <i class="fa fa-mobile"></i>
          <h3>Push</h3>
          <div>
            <span class="lo-label">AeroGear UPS URL:</span>
            <span class="lo-field">www.someurl.com</span>
          </div>
          <div>
            <span class="lo-label">Application ID:</span>
            <span class="lo-field">someid</span>
          </div>
          <div>
            <span class="lo-label">Master Secret:</span>
            <span class="lo-field">somemastersecret</span>
          </div>
          <a href="#">View <strong>Push</strong> »</a>
        </div>
      </div>
    </div>
-->
  </div>
</div>