<div class="col-md-10 lo-main-pane security-policies">
  <div class="row">
    <ul class="nav nav-tabs nav-tabs-pf">
      <li class="active"><a href="#/applications/{{curApp.id}}/security/policies">Policies</a></li>
      <li><a href="#/applications/{{curApp.id}}/security/roles">Roles</a></li>
      <li><a href="#/applications/{{curApp.id}}/security/users">Users</a></li>
    </ul>

    <div class="lo-content-area col-md-9">

      <lo-breadcrumbs></lo-breadcrumbs>

      <ul class="nav nav-tabs">
        <li><a href="#/applications/{{curApp.id}}/security/secure-storage" role="tab">Storage</a></li>
        <li><a href="#/applications/{{curApp.id}}/security/secure-collections">Collections</a></li>
        <li><a href="#/applications/{{curApp.id}}/security/secure-push" role="tab">Push</a></li>
        <li class="active"><a href="" role="tab">Clients</a></li>
        <li><a href="#/applications/{{curApp.id}}/security/secure-logic" role="tab">Business Logic</a></li>
      </ul>

      <!--<h2 class="pull-left"><span>Clients</span> Security</h2>-->
      <!--<p class="subtitle"><span class="required">*</span> Required fields</p>-->

      <div class="alert alert-info" ng-show="appRoles.length === 0">
        <span class="pficon pficon-info"></span>
        <strong>To secure a client, you need roles.</strong> <a href="" ng-click="modalAddRole()">Create a role</a>.
      </div>

      <!--
      <form class="lo-form-horizontal clearfix" name="securityForm" novalidate>
        <fieldset>
          <legend lo-collapse class="collapsible"><span class="text">Client Settings</span></legend>
          <div class="form-group clearfix">
            <label class="col-sm-3 control-label" for="access">Can access the clients</label>
            <div class="dropdown btn-group bootstrap-select col-sm-9">
              <button class="btn btn-default dropdown-toggle col-sm-12" id ="access" type="button">
                <span class="pull-left" ng-show="appRoles.length === 0">The application has no roles</span>
                <span class="pull-left" ng-show="appRoles.length > 0 && settings.accessRoles.length === 0">Nothing selected</span>
                <span class="pull-left" ng-show="settings.accessRoles.length > 0">{{settings.accessRoles.join(', ')}}</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="role in appRoles" class="">
                  <a role="menuitem" tabindex="-1" ng-click="toggleItem(curApp.name + '/' + role.name, settings.accessRoles)">
                    <span class="text">{{curApp.name}} / {{role.name}}</span>
                    <i class="fa fa-check pull-right" ng-show="(settings.accessRoles | filter:curApp.name + '/' + role.name:true).length > 0"></i>
                  </a>
                </li>
                <li role="presentation" class="divider" ng-hide="appRoles.length === 0"></li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" ng-click="modalAddRole()">New Role...</a>
                </li>
              </ul>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend lo-collapse class="collapsible"><span class="text">Entry Settings</span></legend>
          <div class="form-group clearfix">
            <label class="col-sm-3 control-label" for="create">Can create a client</label>
            <div class="dropdown btn-group bootstrap-select col-sm-9">
              <button class="btn btn-default dropdown-toggle col-sm-12" id="create" type="button" ng-disabled="settings.accessRoles.length === 0">
                <span class="pull-left" ng-show="settings.accessRoles.length === 0">No Roles can access the clients</span>
                <span class="pull-left" ng-show="settings.accessRoles.length > 0 && settings.createEntryRoles.length === 0">Nothing selected</span>
                <span class="pull-left" ng-show="settings.createEntryRoles.length > 0">{{settings.createEntryRoles.join(', ')}}</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="role in settings.accessRoles">
                  <a role="menuitem" tabindex="-1" ng-click="toggleItem(role, settings.createEntryRoles)">
                    <span class="text">{{role}}</span>
                    <i class="fa fa-check pull-right" ng-show="(settings.createEntryRoles | filter:role).length > 0"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group clearfix">
            <label class="col-sm-3 control-label" for="creator">Client creator can</label>
            <select pf-select class="col-sm-9" multiple id="creator" ng-options="permission for permission in availablePermissions" ng-model="settings.ownerPermissions">
            </select>
          </div>
        </fieldset>

        <fieldset>
          <legend lo-collapse class="collapsible"><span class="text">Super Permissions</span></legend>
          <div class="form-group clearfix">
            <label class="col-sm-3 control-label" for="readall">Can read all clients</label>
            <div class="dropdown btn-group bootstrap-select col-sm-9">
              <button class="btn btn-default dropdown-toggle col-sm-12" id="readall" type="button" ng-disabled="settings.accessRoles.length === 0">
                <span class="pull-left" ng-show="settings.accessRoles.length === 0">No Roles can access the clients</span>
                <span class="pull-left" ng-show="settings.accessRoles.length > 0 && settings.readAllRoles.length === 0">Nothing selected</span>
                <span class="pull-left" ng-show="settings.readAllRoles.length > 0">{{settings.readAllRoles.join(', ')}}</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="role in settings.accessRoles">
                  <a role="menuitem" tabindex="-1" ng-click="toggleItem(role, settings.readAllRoles)">
                    <span class="text">{{role}}</span>
                    <i class="fa fa-check pull-right" ng-show="(settings.readAllRoles | filter:role).length > 0"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group clearfix">
            <label class="col-sm-3 control-label" for="updateall">Can update all clients</label>
            <div class="dropdown btn-group bootstrap-select col-sm-9">
              <button class="btn btn-default dropdown-toggle col-sm-12" id="updateall" type="button" ng-disabled="settings.accessRoles.length === 0">
                <span class="pull-left" ng-show="settings.accessRoles.length === 0">No Roles can access the clients</span>
                <span class="pull-left" ng-show="settings.accessRoles.length > 0 && settings.updateAllRoles.length === 0">Nothing selected</span>
                <span class="pull-left" ng-show="settings.updateAllRoles.length > 0">{{settings.updateAllRoles.join(', ')}}</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="role in settings.accessRoles">
                  <a role="menuitem" tabindex="-1" ng-click="toggleItem(role, settings.updateAllRoles)">
                    <span class="text">{{role}}</span>
                    <i class="fa fa-check pull-right" ng-show="(settings.updateAllRoles | filter:role).length > 0"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group clearfix">
            <label class="col-sm-3 control-label" for="deleteall">Can delete all clients</label>
            <div class="dropdown btn-group bootstrap-select col-sm-9">
              <button class="btn btn-default dropdown-toggle col-sm-12" id="deleteall" type="button" ng-disabled="settings.accessRoles.length === 0">
                <span class="pull-left" ng-show="settings.accessRoles.length === 0">No Roles can access the clients</span>
                <span class="pull-left" ng-show="settings.accessRoles.length > 0 && settings.deleteAllRoles.length === 0">Nothing selected</span>
                <span class="pull-left" ng-show="settings.deleteAllRoles.length > 0">{{settings.deleteAllRoles.join(', ')}}</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="role in settings.accessRoles">
                  <a role="menuitem" tabindex="-1" ng-click="toggleItem(role, settings.deleteAllRoles)">
                    <span class="text">{{role}}</span>
                    <i class="fa fa-check pull-right" ng-show="(settings.deleteAllRoles | filter:role).length > 0"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </fieldset>

        <div class="pull-right form-actions">
          <button lo-button-clear="clear()" ng-hide="create" ng-disabled="!changed">Clear changes</button>
          <button lo-button-clear="cancelCreate()" ng-show="create">Cancel</button>
          <button lo-button-save="save()" ng-disabled="!changed || !securityForm.$valid">Save</button>
        </div>
      </form>
      -->

      <div class="panel">
        <div class="panel-body text-center empty-instance">
          <i class="fa fa-globe"></i>
          <span>
            <p>The roles allowed to access clients can be defined in the "Scope" field in Client configuration.</p>
            <a class="btn btn-primary btn-lg" href="#/applications/{{curApp.id}}/application-clients">View Clients</a>
          </span>
        </div>
      </div>

    </div>
  </div>
</div>