<div id="lo-content-row" class="row">
  <lo-navigation ng-controller="AppDropdownCtrl" data-lo-current="security" data-lo-apps="applications" data-lo-app="curApp"></lo-navigation>

  <div class="col-md-10 lo-main-pane">
    <div class="row">
      <div class="lo-content-area col-md-9">

        <ol class="breadcrumb">
          <li><a href="#">Applications</a></li>
          <li><a href="#">ApplicationName</a></li>
          <li><a href="#">Security</a></li>
          <li>CollectionName</li>
        </ol>

        <h2 class="pull-left"><span>CollectionName</span> Security</h2>
        <p class="subtitle"><span class="required">*</span> Required fields</p>

        <form class="lo-form-horizontal" name="storageForm" novalidate>
          <fieldset>
            <legend lo-collapse class="collapsible"><span class="text">Collection Settings</span></legend>
            <div class="form-group clearfix">
              <label class="col-sm-3 control-label" for="collection">Collection <span class="required">*</span></label>
              <select class="selectpicker col-sm-9" id="collection">
                <option>Collection 01</option>
                <option>Collection 02</option>
                <option>Collection 03</option>
              </select>
            </div>
            <div class="form-group clearfix">
              <label class="col-sm-3 control-label" for="access">Can access the collection <span class="required">*</span></label>
              <select class="selectpicker col-sm-9" multiple id="access">
                <option>todo-admin</option>
                <option>todo-manager</option>
                <option>todo-user</option>
                <option>todo-alex</option>
                <option>todo-viliam</option>
                <option>todo-gabriel</option>
                <option>todo-ken</option>
              </select>
            </div>
          </fieldset>

          <fieldset>
            <legend lo-collapse class="collapsible"><span class="text">Entry Settings</span></legend>
            <div class="form-group clearfix">
              <label class="col-sm-3 control-label" for="createentry">Can create an entry <span class="required">*</span></label>
              <select class="selectpicker col-sm-9" multiple id="createentry">
                <option>todo-admin</option>
                <option>todo-manager</option>
                <option>todo-user</option>
              </select>
            </div>
            <div class="form-group clearfix">
              <label class="col-sm-3 control-label" for="creator">Entry creator can <span class="required">*</span></label>
              <select class="selectpicker col-sm-9" multiple id="creator">
                <option selected>create</option>
                <option selected>read</option>
                <option selected>update</option>
              </select>
            </div>
          </fieldset>

          <fieldset>
            <legend lo-collapse class="collapsible"><span class="text">Super Permissions</span></legend>
            <div class="form-group clearfix">
              <label class="col-sm-3 control-label" for="readall">Can create all entries</label>
              <select class="selectpicker col-sm-9" multiple id="readall">
                <option>todo-admin</option>
                <option>todo-manager</option>
                <option>todo-user</option>
              </select>
            </div>
            <div class="form-group clearfix">
              <label class="col-sm-3 control-label" for="updateall">Can update all entries</label>
              <select class="selectpicker col-sm-9" multiple id="updateall">
                <option>todo-admin</option>
                <option>todo-manager</option>
                <option>todo-user</option>
              </select>
            </div>
            <div class="form-group clearfix">
              <label class="col-sm-3 control-label" for="deleteall">Can delete all entries</label>
              <select class="selectpicker col-sm-9" multiple id="deleteall">
                <option>todo-admin</option>
                <option>todo-manager</option>
                <option>todo-user</option>
              </select>
            </div>

          </fieldset>

          <div class="pull-right form-actions">
            <button lo-button-clear="clear()" ng-hide="create" ng-disabled="!changed">Clear changes</button>
            <button lo-button-clear="cancelCreate()" ng-show="create">Cancel</button>
            <button lo-button-save="save()" ng-disabled="!changed || !securityForm.$valid">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  // Initialize Boostrap-select
  $('.selectpicker').selectpicker();
</script>