<lo-navigation ng-controller="AppDropdownCtrl" data-lo-current="security" data-lo-apps="applications" data-lo-app="curApp"></lo-navigation>

<div class="col-md-10 lo-main-pane">
  <div class="row">
    <div class="lo-content-area col-md-9">
      <ul class="nav nav-tabs nav-tabs-pf">
        <li class="active"><a href="">Policies</a></li>
        <li><a href="#/applications/{{curApp.id}}/security/roles">Roles</a></li>
        <li class="disabled"><a href="">Users</a></li>
      </ul>

      <lo-breadcrumbs></lo-breadcrumbs>
      
      <h2><span>{{curApp.name}}</span> Policies</h2>

      <!-- In case of no collections secured -->
      <div class="panel" ng-hide="securedColls.length > 0">
        <div class="panel-body text-center empty-instance">
          <i class="fa fa-lock"></i>

          <span ng-hide="unsecuredColls.length > 0">
            <p>This application has no collections to be secured. Create a collection inside a storage resource first.</p>
            <a href="#/applications/{{curApp.id}}/storage" class="btn btn-primary btn-lg" type="button">View Storage</a>
          </span>
          
          <span ng-show="unsecuredColls.length > 0">
            <p>You have not yet secured any of the collections: <span ng-repeat="c in unsecuredColls"><a href="#/applications/{{curApp.name}}/storage/{{c.storage}}/browse/{{c.collection}}">{{c.collection}}</a>{{$last ? '' : ', '}}</span>.</p>
            <a href="#/applications/{{curApp.id}}/security/{{unsecuredColls[0].storage}}/{{unsecuredColls[0].collection}}" class="btn btn-primary btn-lg" type="button">Secure a Collection</a>
          </span>
        </div>
      </div>

      <!-- List of collections secured -->
      <div class="lo-page-info clearfix" ng-show="securedColls.length > 0">
        <p>
          <span class="lo-emph">You have</span> <strong>{{securedColls.length}}</strong> collection<span ng-show="securedColls.length !== 1">s</span> secured.
        </p>
        <div class="pull-right">
          <a href="#/applications/{{curApp.id}}/create-security" class="btn btn-primary btn-lg" type="button">Secure a Collection</a>
        </div>
      </div>

      <span ng-repeat="s in storageList">
        <lo-collection-security-summary lo-app="curApp" lo-storage="s.id" lo-collection="c.id" ng-repeat="c in s._members"></lo-collection-security-summary>
      </span>
    </div>

    <div class="lo-info-pane col-md-3 clearfix" ng-show="unsecuredColls.length > 0">
    
      <!-- In case of no collections in this app -->
    
<!--
      <section class="lo-tutorials">
        <h3><span>LiveOak</span> Tutorials</h3>
        <i class="fa fa-file-text-o fa-4x"></i>
        <p>
          Explore LiveOak Documentation and learn how to set up Security Data and Push.
        </p>
        <a href="#">How to start your own app »</a>
      </section>
-->
      
      <!-- In case of have collections not secured -->
      
      <h3><span>{{curApp.name}}</span> Unsecured Collections</h3>
      
      <ul>
        <li ng-repeat="c in unsecuredColls">
          <a href="#/applications/{{curApp.name}}/storage/{{c.storage}}/browse/{{c.collection}}">{{c.collection}}</a>
          <a class="btn-icon" href="#/applications/{{curApp.name}}/security/{{c.storage}}/{{c.collection}}" data-tooltip-placement="top" data-tooltip="Secure this Collection">
            <i class="fa fa-lock"></i>
            <span>Secure this Collection</span>
          </a>  
        </li>
      </ul>
    </div>
  </div>
</div>