<div id="lo-content-row" class="row">
  <div class="col-md-10 lo-main-pane">
    <div class="row">
      <ul class="nav nav-tabs nav-tabs-pf">
        <li class="active"><a href="#/applications/{{curApp.id}}/security/policies">Policies</a></li>
        <li><a href="#/applications/{{curApp.id}}/security/roles">Roles</a></li>
        <li><a href="#/applications/{{curApp.id}}/security/users">Users</a></li>
      </ul>
    
      <div class="lo-content-area col-md-9">

        <lo-breadcrumbs></lo-breadcrumbs>

        <h3 style="margin-bottom: 0;">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#storage" role="tab" data-toggle="tab">Storage</a></li>
          <li><a href="#collections" role="tab" data-toggle="tab">Collections</a></li>
          <li><a href="#push" role="tab" data-toggle="tab">Push</a></li>
          <li><a href="#clients" role="tab" data-toggle="tab">Clients</a></li>
          <li><a href="#logic" role="tab" data-toggle="tab">Business Logic</a></li>
        </ul>
        </h3>

        <div class="tab-content">
          <div class="tab-pane active" id="storage"><ng-include src="'/admin/console/partials/security-create-storage.html'" ng-controller="SecurityStorageCtrl"></ng-include></div>
          <div class="tab-pane" id="collections"><ng-include src="'/admin/console/partials/security-create-collections.html'"></ng-include></div>
          <div class="tab-pane" id="push"><ng-include src="'/admin/console/partials/security-create-push.html'"></ng-include></div>
          <div class="tab-pane" id="clients">C</div>
          <div class="tab-pane" id="logic">B</div>
        </div>

        <!-- Using lo-select .. disabled for now
        <form class="lo-form-horizontal clearfix" name="securityForm" novalidate>
          <fieldset>
            <legend lo-collapse class="collapsible"><span class="text">Collection Settings</span></legend>
            <div class="form-group clearfix">
              <label class="col-sm-3 control-label" for="collection">Collection <span class="required">*</span></label>
              <select lo-select class="col-sm-9" id="collection" ng-options="col.id as col.name for col in collectionsList" ng-model="currentCollection">
              </select>
            </div>
            <div class="form-group clearfix">
              <label class="col-sm-3 control-label" for="access">Can access the collection <span class="required">*</span></label>
              <select lo-select class="col-sm-9" id="access" ng-options="(curApp.name + '/' + role.name) as (curApp.name + '/' + role.name) for role in appRoles" ng-model="settings.accessRoles" ng-disabled="appRoles.length == 0" multiple>
              </select>
            </div>
          </fieldset>
          <fieldset>
            <legend lo-collapse class="collapsible"><span class="text">Entry Settings</span></legend>
            <div class="form-group clearfix">
              <label class="col-sm-3 control-label" for="createentry">Can create an entry <span class="required">*</span></label>
              <select lo-select class="col-sm-9" id="createentry" ng-options="role as role for role in settings.accessRoles" ng-model="settings.createEntryRoles" ng-disabled="settings.accessRoles.length === 0" multiple>
              </select>
            </div>
            <div class="form-group clearfix">
              <label class="col-sm-3 control-label" for="creator">Entry creator can <span class="required">*</span></label>
              <select lo-select class="col-sm-9" multiple id="creator" ng-options="permission for permission in availablePermissions" ng-model="settings.ownerPermissions">
              </select>
            </div>
          </fieldset>

          <fieldset>
            <legend lo-collapse class="collapsible"><span class="text">Super Permissions</span></legend>
            <div class="form-group clearfix">
              <label class="col-sm-3 control-label" for="readall">Can read all entries</label>
              <select lo-select class="col-sm-9" id="readall" ng-options="role as role for role in settings.accessRoles" ng-model="settings.readAllRoles" ng-disabled="settings.accessRoles.length == 0" multiple>
              </select>
            </div>
            <div class="form-group clearfix">
              <label class="col-sm-3 control-label" for="updateall">Can update all entries</label>
              <select lo-select class="col-sm-9" id="updateall" ng-options="role as role for role in settings.accessRoles" ng-model="settings.updateAllRoles" ng-disabled="settings.accessRoles.length == 0" multiple>
              </select>
            </div>
            <div class="form-group clearfix">
              <label class="col-sm-3 control-label" for="deleteall">Can delete all entries</label>
              <select lo-select class="col-sm-9" id="deleteall" ng-options="role as role for role in settings.accessRoles" ng-model="settings.deleteAllRoles" ng-disabled="settings.accessRoles.length == 0" multiple>
              </select>
            </div>
          </fieldset>

          <div class="pull-right form-actions">
            <button lo-button-clear="clear()" ng-hide="create" ng-disabled="!changed">Clear changes</button>
            <button lo-button-clear="cancelCreate()" ng-show="create">Cancel</button>
            <button lo-button-save="save()" ng-disabled="!changed || !securityForm.$valid">Save</button>
          </div>
        </form>
        -->
      </div>
    </div>
  </div>
</div>