<div id="lo-content-row" class="row">
    <lo-navigation ng-controller="AppDropdownCtrl" data-lo-current="storage" data-lo-apps="applications" data-lo-app="curApp"></lo-navigation>

    <div class="col-md-10 lo-main-pane">
        <div class="row">
            <div class="lo-content-area col-md-10">
                <lo-breadcrumbs></lo-breadcrumbs>

                <h2><span>{{curApp.name}}</span> {{ create ? 'New Storage' : storageModel.id }}</h2>

                <form class="lo-form-horizontal" name="realmForm" novalidate>
                    <fieldset>
                        <legend lo-collapse><span class="text">Data Resource</span></legend>
                        <div class="form-group">
                        <div class="lo-db-instances">
                            <p>
                                Dont' have it installed?
                                <span ng-switch on="storageModel.type">
                                    <a ng-switch-when="mongo" href="http://www.mongodb.org/" >Get your MongoDB instance.</a>
                                    <a ng-switch-when="mysql" href="http://www.mysql.com/" >Get your MySQL instance.</a>
                                    <a ng-switch-when="plsql" href="http://www.postgresql.org/" >Get your PostgreSQL instance.</a>
                                    <span ng-switch-default>No Database selected.</span>
                                </span>
                            </p>
                            <div class="lo-db-mongo" ng-class="{active: storageModel.type === 'mongo'}" ng-click="storageModel.type = 'mongo'">MongoDB</div>
                            <div class="lo-db-mysql" ng-class="{active: storageModel.type === 'mysql'}" ng-click="storageModel.type = 'mysql'">MySQL</div>
                            <div class="lo-db-plsql" ng-class="{active: storageModel.type === 'plsql'}" ng-click="storageModel.type = 'plsql'">PostGres</div>
                        </div>
                            </div>
                    </fieldset>

                    <fieldset>
                        <legend lo-collapse><span class="text">Settings</span></legend>
                        <div class="form-group clearfix">
                            <label class="col-sm-2 control-label" for="dbhost">Host <span class="required">*</span></label>

                            <div class="col-sm-4">
                                <input class="form-control" ng-model="storageModel.servers[0].host" type="text" id="dbhost" required>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-sm-2 control-label" for="dbport">Port <span class="required">*</span></label>

                            <div class="col-sm-4">
                                <input class="form-control" ng-model="storageModel.servers[0].port" type="number" step="1" id="dbport" required>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-sm-2 control-label" for="dbname">Database Name <span class="required">*</span></label>

                            <div class="col-sm-4">
                                <input class="form-control" ng-model="storageModel.db" type="text" id="dbname" required>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-sm-2 control-label" for="dburl">URL Path <span class="required">*</span></label>

                            <div class="col-sm-4">
                                <input class="form-control" ng-model="storageModel.id" id="dburl" required>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend lo-collapse><span class="text">Security</span></legend>
                        <div class="form-group clearfix">
                            <label class="col-sm-2 control-label" for="stuname">Username</label>

                            <div class="col-sm-4">
                                <input class="form-control" ng-model="storageModel.credentials[0].username" type="text" id="stuname">
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-sm-2 control-label" for="passwd">Password</label>

                            <div class="col-sm-4">
                                <input class="form-control" ng-model="storageModel.credentials[0].password" type="password" id="passwd">
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-sm-2 control-label" for="passwdConfirm">Password confirmation</label>

                            <div class="col-sm-4">
                                <input class="form-control" ng-model="passwdConfirm" type="password" id="passwdConfirm">
                            </div>
                        </div>
                    </fieldset>

                    <div class="pull-right form-actions" ng-show="changed">
                        <button lo-button-clear="clear()">Clear changes</button>
                        <button lo-button-save="save()">Save</button>
                    </div>
                </form>
            </div>
            <div class="lo-info-pane col-md-2">
                <h3><span>All</span> Storage Resources</h3>
                <section>
                    <h4>MyFirstInstance</h4>
                    <div>
                        <span class="lo-label">Storage Provider</span>
                        <span class="lo-field">MongoDB</span>
                        <span class="lo-label">Database Name</span>
                        <span class="lo-field">MyDB</span>
                    </div>
                </section>
                <section>
                    <h4>MyFirstInstance</h4>
                    <div>
                        <span class="lo-label">Storage Provider</span>
                        <span class="lo-field">MongoDB</span>
                        <span class="lo-label">Database Name</span>
                        <span class="lo-field">MyDB</span>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>