<div class="col-md-10 lo-main-pane">
  <div class="row">
    <div class="lo-content-area col-md-9">
      <lo-breadcrumbs></lo-breadcrumbs>

      <h2><span>{{curApp.name}}</span> Storage</h2>

      <div class="lo-page-info clearfix">
        <p ng-show="resources.length > 0">
          <span class="lo-emph">You have</span> <strong>{{resources.length}}</strong> storage resource{{resources.length > 1 ? 's' : ''}}.
        </p>
        <div class="pull-right" ng-show="resources.length > 0">
          <a href="#/applications/{{curApp.id}}/create-storage" class="btn btn-primary btn-lg" type="button">New Storage</a>
        </div>
      </div>

      <div class="panel" ng-hide="resources.length > 0">
        <div class="panel-body text-center empty-instance">
          <i class="fa fa-cloud"></i>
          <p>This application currently has no storage resources.</p>
          <a href="#/applications/{{curApp.id}}/create-storage" class="btn btn-primary btn-lg" type="button">New Storage</a>
        </div>
      </div>

      <lo-storage-summary ng-repeat="s in resources" lo-storage="s" lo-app="curApp" created="createdId"
          lo-delete="modalStorageDelete(storageId)"></lo-storage-summary>

    </div>
    <div class="lo-info-pane col-md-3 clearfix">
      <section class="lo-tutorials">
        <h3><span>LiveOak</span> Tutorials</h3>
        <i class="fa fa-file-text-o fa-4x"></i>
        <p>
          Explore LiveOak Documentation and learn how to set up Security Data and Push.
        </p>
        <a href="#">How to start your own app »</a>
      </section>
    </div>
  </div>
</div>