<div class="col-md-10 lo-main-pane">
  <div class="row">
    <ul class="nav nav-tabs nav-tabs-pf" ng-hide="create || fix">
      <li><a href="#/applications/{{curApp.id}}/storage/{{storageModel.id}}/browse">Collections</a></li>
      <li class="active"><a href="">Settings</a></li>
    </ul>
    <div class="lo-content-area col-md-9">
      <lo-breadcrumbs></lo-breadcrumbs>

      <h2 class="pull-left"><span>{{curApp.name}}</span> {{ create ? 'New Storage' : storageModel.id }}</h2>
      <p class="subtitle"><span class="required">*</span> Required fields</p>

      <form class="lo-form-horizontal clearfix" name="storageForm" novalidate>
        <fieldset>
          <legend lo-collapse class="collapsible"><span class="text">Data Resource</span></legend>
          <div class="form-group">
            <div class="lo-db-instances col-sm-offset-3">
              <div class="lo-db-mongo" ng-class="{active: storageModel.type === 'mongo'}" ng-click="storageModel.type = 'mongo'">MongoDB</div> 
              <!-- <div class="lo-db-mysql" ng-class="{active: storageModel.type === 'mysql'}" ng-click="storageModel.type = 'mysql'">MySQL</div> -->
              <!-- <div class="lo-db-plsql" ng-class="{active: storageModel.type === 'plsql'}" ng-click="storageModel.type = 'plsql'">PostGres</div> -->
              <p>
                Don't have it installed?
                            <span ng-switch on="storageModel.type">
                              <a ng-switch-when="mongo" target="_blank" href="http://www.mongodb.org/" >Get your MongoDB instance.</a>
                              <a ng-switch-when="mysql" target="_blank" href="http://www.mysql.com/" >Get your MySQL instance.</a>
                              <a ng-switch-when="plsql" target="_blank" href="http://www.postgresql.org/" >Get your PostgreSQL instance.</a>
                              <span ng-switch-default>No Database selected.</span>
                            </span>
              </p>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend lo-collapse class="collapsible"><span class="text">Settings</span></legend>
          <div class="form-group clearfix">
            <label class="col-sm-3  control-label" for="datastore">Datastore <span class="required">*</span></label>
            <div class="dropdown btn-group bootstrap-select col-sm-4">
              <button class="btn btn-default col-sm-12" id ="datastore" type="button" data-toggle="dropdown">
                <span class="pull-left">{{storageModel.datastore || "Custom..."}}</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="ds in datastores" ng-class="{'active' : ds.id === storageModel.datastore}" >
                  <a role="menuitem" tabindex="-1" ng-click="selectDatastore(ds)">
                    <span class="text">{{ds.id}}</span>
                  </a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation" ng-class="{'active' : !storageModel.datastore}">
                  <a role="menuitem" tabindex="-1" ng-click="storageModel.datastore = undefined">Custom...</a>
                </li>
              </ul>
            </div>
          </div>

          <hr>

          <div class="form-group clearfix">
            <label class="col-sm-3  control-label" for="dbhost">Host <span class="required">*</span></label>

            <div class="col-sm-4" ng-class="{'has-error': storageForm.dbhost.$error.pattern}">
              <input class="form-control" ng-model="storageModel.servers[0].host" type="text" id="dbhost" name="dbhost" ng-pattern="reIPv4Host" required placeholder="e.g.: localhost" ng-disabled="storageModel.datastore">
              <span class="help-block" ng-show="storageForm.dbhost.$error.pattern">Not a valid address.</span>
            </div>
          </div>
          <div class="form-group clearfix">
            <label class="col-sm-3  control-label" for="dbport">Port <span class="required">*</span></label>

            <div class="col-sm-4" ng-class="{'has-error': storageForm.dbport.$dirty && !storageForm.dbport.$valid}">
              <input class="form-control no-spinner" type="number" ng-model="storageModel.servers[0].port" ng-pattern="rePort" id="dbport" name="dbport" required placeholder="e.g.: 27017" ng-disabled="storageModel.datastore">
              <span class="help-block" ng-show="storageForm.dbport.$dirty && !storageForm.dbport.$valid">Not a valid port number (1-65535).</span>
            </div>
          </div>
          <div class="form-group clearfix">
            <label class="col-sm-3  control-label" for="dbname">Database Name <span class="required">*</span></label>

            <div class="col-sm-4">
              <input class="form-control" ng-model="storageModel.db" type="text" id="dbname" required>
            </div>
          </div>
          <div class="form-group clearfix">
            <label class="col-sm-3  control-label" for="dburl">URL Path <span class="required">*</span></label>

            <div class="col-sm-4">
              <input class="form-control" ng-model="storageModel.id" id="dburl" ng-disabled="!create" required placeholder="e.g.: storage">
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend lo-collapse class="collapsible"><span class="text">Login</span></legend>
          <div class="form-group clearfix">
            <label class="col-sm-3  control-label" for="authdb">Auth Database</label>

            <div class="col-sm-4">
              <input class="form-control" ng-model="storageModel.credentials[0].database" type="text" id="authdb" autocomplete="off" placeholder="{{storageModel.db}}" ng-disabled="storageModel.datastore">
            </div>
          </div>
          <div class="form-group clearfix">
            <label class="col-sm-3  control-label" for="stuname">Username</label>

            <div class="col-sm-4">
              <input class="form-control" ng-model="storageModel.credentials[0].username" type="text" id="stuname" autocomplete="off" ng-disabled="storageModel.datastore">
            </div>
          </div>
          <div class="form-group clearfix">
            <label class="col-sm-3  control-label" for="passwd">Password</label>

            <div class="col-sm-4">
              <div class="input-with-button clearfix">
                <input class="form-control" type="{{passwordInputType}}" id="passwd" name="password" autocomplete="off" ng-model="storageModel.credentials[0].password" ng-disabled="storageModel.datastore">
                <button class="btn btn-link btn-icon" ng-click="changePasswordInputType()" type="button" tooltip="Show/Hide Password" >
                  <i class="fa fa-eye-slash" ng-show="passwordInputType === 'password'"></i>
                  <i class="fa fa-eye" ng-show="passwordInputType === 'text'"></i>
                  <span>Show/Hide Password</span>
                </button>
              </div>
            </div>
          </div>
        </fieldset>

        <div class="pull-right form-actions">
          <button lo-button-clear="clear()" ng-hide="create" ng-disabled="!changed">Clear changes</button>
          <button lo-button-clear="cancelCreate()" ng-show="create">Cancel</button>
          <button lo-button-save="save()" ng-disabled="!changed || !storageForm.$valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>