<div class="panel lo-panel-app" ng-class="{'animated flipInY': created == app.id}">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="#/applications/{{app.id}}">{{app.name}}</a></h3>
    <a class="edit" href="#/applications/{{app.id}}/application-settings"><i class="fa fa-wrench" data-tooltip-placement="top" data-tooltip="Edit Settings"></i><span class="hide">Edit Settings</span></a>

    <!--
    <div class="pull-right" >
      <a href ng-click="$parent.modalApplicationDelete(app.id)"><i class="fa fa-trash-o" data-tooltip-placement="top" data-tooltip="Delete App"></i></a>
    </div>
    -->
  </div>
  <div class="panel-body">
    <ul class="lo-app-opts">
      <!--<li ng-repeat="s in app.storage._members" ng-show="s.MongoClientOptions"><a href="#/applications/{{app.id}}/storage/{{s.id}}/browse"><i class="fa fa-briefcase"></i>{{app.mongo_storages}} Mongo DB</a></li>-->
      <li ng-show="app.mongoStorages > 0"><a href="#/applications/{{app.id}}/storage/"><i class="fa fa-cloud"></i>{{app.mongoStorages}} Mongo DB</a></li>
      <li ng-show="app.push.upsURL"><a href="#/applications/{{app.id}}/push"><i class="fa fa-mobile"></i>Push set up</a></li>
      <li ng-show="true"><a href=""><i class="fa fa-lock"></i>Secured by {{$parent.auth.realm}}</a></li>
    </ul>
  </div>
</div>