<div class="panel" ng-show="($parent.uriPolicies|filter:{'uriPattern': '/'+app.id+'/'+storage+'/'+collection}:true).length > 0 || ($parent.acl|filter:{'resourcePath': '/'+app.id+'/'+storage+'/'+collection}:true).length > 0">
  <div class="panel-heading">
    <h2 class="panel-title">{{storage}} / <a href="#/applications/{{app.id}}/security/{{storage}}/{{collection}}">{{collection}}</a></h2>
    <div class="pull-right" data-tooltip-placement="top" data-tooltip="Delete Security">
      <a href="" ng-click="debugger;$parent.$parent.modalCollectionSecurityDelete(storage, collection);"><i class="fa fa-trash-o"></i></a>
    </div>
  </div>
  <div class="panel-body">
    <ul class="lo-app-opts">
      <li><i class="fa fa-users"></i>{{ ($parent.uriPolicies | filter: {'uriPattern': '/'+app.id+'/'+storage+'/'+collection} | filter: {'uriPattern': '!/'+app.id+'/'+storage+'/'+collection+'/*'} | filter: {'requestTypes': 'READ'})[0].allowedRoles.join(', ') || 'Unsecured' }}</a></li>
      <li><i class="fa fa-plus"></i>{{ ($parent.uriPolicies | filter: {'uriPattern': '/'+app.id+'/'+storage+'/'+collection} | filter: {'uriPattern': '!/'+app.id+'/'+storage+'/'+collection+'/*'} | filter: {'requestTypes': 'CREATE'})[0].allowedRoles.join(', ') || 'Unsecured' }}</a></li>
      <li><i class="fa fa-unlock"></i>{{ ($parent.acl | filter: {'resourcePath': '/'+app.id+'/'+storage+'/'+collection})[0].autoAddedOwnerPermissions.join(', ') || 'N/A'}}</a></li>
    </ul>
  </div>
</div>
