<aside class="lo-sidebar col-md-2 fixed clearfix">
    <div class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ loApp.name }}<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li ng-repeat="app in loApps" ng-class="{active: app.id == loApp.id}"><a ng-href="#/applications/{{app.id}}/{{loCurrent}}">{{ app.name }}</a></li>
        </ul>
    </div>

    <nav class="navbar navbar-vertical" role="navigation">
        <div class="bs-sidebar">
            <ul>
                <li ng-class="{active: loCurrent == 'dashboard'}" class="dashboard"><a href="#/applications/{{loApp.id}}/dashboard"><i class="fa fa-tachometer fa-3x"></i>Dashboard</a></li>
                <li ng-class="{active: loCurrent == 'security'}" class="security"><a href="#"><i class="fa fa-lock fa-3x"></i>Security</a></li>
                <li ng-class="{active: loCurrent == 'storage'}" class="storage"><a href="#/applications/{{loApp.id}}/storage"><i class="fa fa-cloud fa-3x"></i>Storage</a></li>
                <li ng-class="{active: loCurrent == 'push'}" class="push"><a href="#/applications/{{loApp.id}}/push"><i class="fa fa-mobile fa-4x"></i>Push</a></li>
            </ul>
        </div>
    </nav>
</aside>

