<aside class="lo-sidebar col-md-2 fixed clearfix">
  <div class="dropdown">
    <a class="dropdown-toggle" href="#">{{ loApp.name | characters: 25 :true }}<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li ng-repeat="app in loApps" ng-class="{active: app.id == loApp.id}"><a ng-href="#/applications/{{app.id}}/{{loCurrent}}">{{ app.name | characters: 35 :true }}</a></li>
    </ul>
  </div>

  <nav class="navbar navbar-vertical" role="navigation">
    <div class="bs-sidebar">
      <ul>
        <li ng-class="{active: loCurrent == 'dashboard'}" class="dashboard"><a href="#/applications/{{loApp.id}}/dashboard"><i class="fa fa-tachometer"></i>Dashboard</a></li>
        <li ng-class="{active: loCurrent == 'storage'}" class="storage"><a href="#/applications/{{loApp.id}}/storage"><i class="fa fa-cloud"></i>Storage</a></li>
        <li ng-class="{active: loCurrent == 'security'}" class="security"><a href="#/applications/{{loApp.id}}/security/policies"><i class="fa fa-lock"></i>Security</a></li>
        <li ng-class="{active: loCurrent == 'push'}" class="push"><a href="#/applications/{{loApp.id}}/push"><i class="fa fa-mobile"></i>Push</a></li>
        <li ng-class="{active: loCurrent == 'clients'}" class="clients"><a href="#/applications/{{loApp.id}}/application-clients"><i class="fa fa-globe"></i>Clients</a></li>
        <li ng-class="{active: loCurrent == 'logic'}" class="logic"><a href="#/applications/{{loApp.id}}/business-logic"><i class="fa fa-code"></i>Logic</a></li>
      </ul>
    </div>
  </nav>
</aside>