<div class="panel" ng-class="{'animated rollIn': created == storage.path}">
  <div class="panel-heading">
    <h2 class="panel-title">
      <a ng-show="storage.hasCollections" ng-href="#/applications/{{loApp.id}}/storage/{{storage.path}}/browse">{{storage.path}}</a>
    </h2>
    <h2 ng-hide="storage.hasCollections" class="panel-title">{{storage.path}}</h2>
    <a class="edit" href="#/applications/{{loApp.id}}/storage/{{storage.path}}">Edit Settings</a>
    
    <div class="pull-right">
      <a href="" data-tooltip-placement="top" data-tooltip="Delete Storage" ng-click="loDelete({storageId: storage.path})"><i class="fa fa-trash-o"></i></a>
    </div>
  </div>

  <div class="panel-body">
    <ul class="lo-app-opts">
      <li><a href><i class="fa fa-briefcase"></i>{{storage.provider}}</a></li>
      <li><a href><i class="fa fa-link"></i>/{{storage.path}}</a></li>
      <li><a href><i class="fa fa-desktop"></i>{{storage.host}}</a></li>
      <li><a href><i class="fa fa-thumb-tack"></i>{{storage.port}}</a></li>
    </ul>
  </div>
</div>
