<div class="panel" ng-class="{'animated rollIn': created == storage.path}">
  <div class="panel-heading">
    <h2 class="panel-title">
        <a ng-show="storage.hasCollections" ng-href="#/applications/{{loApp.id}}/storage/{{storage.path}}/browse">{{storage.path}}</a>
        <a ng-hide="storage.hasCollections" ng-href="#/applications/{{loApp.id}}/storage/{{storage.path}}?fix">{{storage.path}}</a>
        <i ng-hide="storage.hasCollections" class="fa fa-warning" data-tooltip="Unable to reach storage server. Please check the configuration."></i>
    </h2>
    <div class="pull-right">
      <a href="" data-tooltip-placement="top" data-tooltip="Delete Storage" ng-click="loDelete({storageId: storage.path})"><i class="fa fa-trash-o"></i></a>
    </div>
  </div>

  <div class="panel-body">
    <ul class="lo-app-opts">
      <li><i class="fa fa-briefcase" tooltip="Storage resource"></i>{{storage.provider}}</li>
      <li><i class="fa fa-link" tooltip="URL Path"></i>/{{storage.path}}</li>
      <li><i class="fa fa-desktop" tooltip="Host"></i>{{storage.host}}</li>
      <li><i class="fa fa-thumb-tack" tooltip="Port"></i>{{storage.port}}</li>
    </ul>
  </div>
</div>
