<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">
    <span class="pficon pficon-close"></span>
  </button>
  <h4 class="modal-title">Delete User</h4>
</div>
<div class="modal-body">
  <div class="form-group">
    <p class="primary-message">Are you sure you want to reset the password for the user "{{userId}}"?</p>
    <p>This action can't be undone.</p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-lg btn-default" ng-click="cancel()">Cancel</button>
  <button type="button" class="btn btn-lg btn-danger" ng-click="userPasswordReset();">Reset</button>
</div>
