<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
    <span class="pficon pficon-close"></span>
  </button>
  <h4 class="modal-title">Import Application</h4>
</div>

<div class="modal-body clearfix import-applications">

  <div class="alert alert-danger hide"> <!-- Error (invalid folder) -->
    <span class="pficon-layered">
      <span class="pficon pficon-error-octagon"></span>
      <span class="pficon pficon-error-exclamation"></span>
    </span>
    <strong>This folder does not contain a valid application.</strong> Please attach a valid folder.
  </div>

  <form lo-autofocus>
    <div class="form-group clearfix" ng-show="!app.installing">
      <label for="source" class="col-sm-4 control-label">Import method</label>
      <div class="col-sm-8">
        <select id="source" ng-options="src.id as src.name for src in sources" ng-model="$parent.source" lo-select>
        </select>
      </div>
    </div>

    <!-- When local file system is selected -->
    <div class="form-group clearfix" ng-if="source === 'local' && !app.installing">
      <label for="path" class="col-sm-4 control-label">Root Directory</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="path" ng-model="app.path" ng-change="updateAppId()" placeholder="e.g.: /home/liveoak/apps/sample-app">
      </div>
    </div>

    <!-- When Git is select -->
    <div class="form-group clearfix" ng-if="source === 'git' && !app.installing" ng-init="app.protocol = 'https'" ng-show="false">
      <label class="col-sm-4 control-label">Protocol</label>
      <div class="col-sm-6">
          <label class="checkbox-inline">
            <input id="radio-prot-https" ng-model="app.protocol" value="https" type="radio"> HTTP(S)
          </label>
          <label class="checkbox-inline">
            <input id="radio-prot-ssh" ng-model="app.protocol" value="ssh" type="radio"> SSH
          </label>
      </div>
    </div>

    <div class="form-group clearfix" ng-if="source === 'git' && !app.installing">
      <label for="url" class="col-sm-4 control-label">GIT URL / Branch</label>
      <div class="col-sm-5 side">
        <input type="text" class="form-control" id="url" ng-model="app.url" ng-change="updateAppId()" placeholder="e.g.: https://github.com/liveoak-io/liveoak-chat-html.git">
      </div>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="branch" ng-model="app.branch" ng-change="updateAppId()" placeholder="e.g. master">
      </div>
    </div>

    <div class="form-group clearfix" ng-show="source === 'git' && !app.installing">
      <label for="username" class="col-sm-4 control-label">Authentication</label>
      <div class="col-sm-4 side" ng-hide="app.usePassphrase">
        <input type="text" class="form-control" id="username" ng-model="app.username" placeholder="Username">
      </div>
      <div class="col-sm-4" ng-hide="app.usePassphrase">
        <input type="password" class="form-control" id="password" ng-model="app.password" placeholder="Password">
      </div>
      <div class="col-sm-8" ng-show="app.usePassphrase" >
        <input type="password" class="form-control" id="passphrase" ng-model="app.passphrase" placeholder="Passphrase">
      </div>
      <div ng-show="app.protocol === 'ssh'" class="link col-sm-offset-4">
        <button class="btn btn-link" ng-hide="app.usePassphrase" ng-click="app.usePassphrase = true">Change to Passphrase</button>
        <button class="btn btn-link" ng-show="app.usePassphrase" ng-click="app.usePassphrase = false">Change to Username/Password</button>
      </div>
    </div>

    <div class="form-group clearfix" ng-show="!app.installing">
      <label for="id" class="col-sm-4 control-label">Application ID</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="id" ng-model="app.id" ng-change="manualChange()" placeholder="e.g.: MyChatHTML">
      </div>
    </div>
  </form>

  <!-- Hide the form and show this div when loading -->
  <div class="loading-step" ng-show="app.installing">
    <div class="spinner spinner-lg"></div>
    <span class="spinner-label">Importing...</span>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()" ng-hide="app.installing">Cancel</button>
  <button type="button" class="btn btn-primary" ng-click="import()" ng-hide="app.installing">Import</button>
  <button type="button" class="btn btn-primary" ng-click="cancel()" ng-show="app.installing">Continue on background</button>
</div>