<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">
    <span class="pficon pficon-close"></span>
  </button>
  <h4 class="modal-title">New Role</h4>
</div>
<form class="horizontal-form">
  <div class="modal-body">
    <fieldset>
      <legend>
        <span class="text">Role</span>
        <p class="subtitle"><span class="required">*</span> Required field</p>
      </legend>
      <div class="form-group clearfix">
        <label for="rolename" class="col-sm-3 control-label">Role Name <span class="required">*</span></label>
        <div class="col-sm-7">
          <input type="text" class="form-control" id="rolename" ng-model="newRole.name" pf-focused="true"/>
        </div>
      </div>
      <div class="form-group clearfix">
        <label for="roledesc" class="col-sm-3 control-label">Description</label>
        <div class="col-sm-7">
          <textarea class="form-control" rows="3" id="roledesc" ng-model="newRole.description"></textarea>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" ng-click="addRole();" ng-disabled="!newRole.name">Create</button>
  </div>
</form>