<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.0" name="${module-name}">

  <main-class name="org.projectodd.restafari.bootstrap.Bootstrap"/>

  <resources>
    <resource-root path="${project.artifactId}.jar"/>
  </resources>

  <dependencies>
    <module name="org.projectodd.restafari.spi" services="import"/>
    <module name="org.projectodd.restafari.container"/>
    <system>
      <paths> 
        <path name="org/jboss/modules"/>
      </paths> 
    </system>
  </dependencies>

</module>

